@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    letter-spacing: -0.04em;
    line-height: 140%;
    font-feature-settings: 'liga' on;
}

h1 {
  letter-spacing: -0.04em;
  line-height: 140%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  overflow-y: scroll; /* Ensure vertical scrolling is enabled */
  overflow-x: hidden; /* Hide horizontal scrolling if not needed */
  cursor: url('/vzlaFlag.png') 16 16, pointer; /* Clean up cursor definition */
}

/* Customizing text selection color */
::selection {
  background-color: #ffcc00; /* Background color for selected text */
  color: #000000; /* Text color for selected text */
}

/* Firefox-specific customization */
::-moz-selection {
  background-color: #ffcc00;
  color: #000000;
}


#toggleLANG {
  font-size: 1rem;
}